/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_tree .
 *= require_self
 */
/*@import "bootstrap-sprockets";
@import "bootstrap";*/
@import "mediaqueries";
@import "icons";


body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#333;
  margin: 0;
}

a {
  text-decoration:none;
}




.width {
  width:800px;
}

.light {
  font-weight:200;
}

.bold {
  font-weight: 900;
}


h2 {
  font-weight: bold;
  margin-top: 0px;
}

.navbar-mp {
  z-index: 1;
  position: relative;
  color:white;
  font-size:30px;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}


.navbar-mp .skew:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 250px;
  background-color: #333;
  z-index: -1;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;

}

.form-control {
  border-radius: 0px;
  font-weight: bold;
  color: #333;
  border: 3px solid #666;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:focus {
    border-color: #dbdbdb;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}


.btn-default {
  border-radius: 0px;
  background-color: #333;
  border: 1px solid #333;
  color: white;
  font-weight: bold;
  transition: background-color .15s ease-in-out;
  &:hover {
    background-color: #666;
    border: 1px solid #333;
    color:white;
  }
}


.mp-index-tag {
}
    
.mp-hover:hover + .mp-index-tag {
    max-height:100px;
}

.contact-foot {
  display: flex;
  flex-direction:row;
  justify-contents: center;
  div {
    width: 50%;
  }
  div:first-child {
    border-right: 1px solid #666;
  }
}
