
    <div class="body">

      <main class="main">
        <div class="main-body">
          <section>


          <div id="mp-container">

          <div class="mp-index">
            <a class="mp-hover" href="#">
              <div class="image-crop">
                <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/AboultaifZiad_CPC.jpg"/>
              </div>
            </a>
            <div class="mp-index-tag con">
              <span>Ziad Aboultaif</span>
              <span>Edmonton Manning</span>
            </div> 
          </div>

          <div class="mp-index">
            <a class="mp-hover" href="#">
              <div class="image-crop">
                <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/BarsalouDuvalXavier_BQ.jpg"/>
              </div>
            </a>
            <div class="mp-index-tag bloc">
              <span>Xavier Barsalou-Duval</span>
              <span>Pierre-Boucher — Les Patriotes — Verchères</span>
            </div> 
          </div>

          <div class="mp-index">
            <a class="mp-hover" href="#">
              <div class="image-crop">
                <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/AldagJohn_Lib.jpg"/>
              </div>
            </a>
            <div class="mp-index-tag lib">
              <span>John Aldag</span>
              <span>Cloverdale — Langley City</span>
            </div> 
          </div>

          <div class="mp-index">
            <a class="mp-hover" href="#">
              <div class="image-crop">
                <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/AngusCharlie_NDP.jpg"/>
              </div>
            </a>
            <div class="mp-index-tag ndp">
              <span>Charlie Angus</span>
              <span>Timmins — James Bay</span>
            </div> 
          </div>

          <div class="mp-index">
            <a class="mp-hover" href="#">
              <div class="image-crop">
                <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/MayElizabeth_GP.jpg"/>
              </div>
            </a>
            <div class="mp-index-tag green">
              <span>Elizabeth May</span>
              <span>Saanich — Gulf Islands</span>
            </div> 
          </div>
          
            <div class="mp-index">
              <a class="mp-hover" href="#">
                <div class="image-crop">
                  <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/AboultaifZiad_CPC.jpg"/>
                </div>
              </a>
              <div class="mp-index-tag con">
                <span>Ziad Aboultaif</span>
                <span>Edmonton Manning</span>
              </div> 
            </div>

            <div class="mp-index">
              <a class="mp-hover" href="#">
                <div class="image-crop">
                  <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/BarsalouDuvalXavier_BQ.jpg"/>
                </div>
              </a>
              <div class="mp-index-tag bloc">
                <span>Xavier Barsalou-Duval</span>
                <span>Pierre-Boucher — Les Patriotes — Verchères</span>
              </div> 
            </div>

            <div class="mp-index">
              <a class="mp-hover" href="#">
                <div class="image-crop">
                  <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/AldagJohn_Lib.jpg"/>
                </div>
              </a>
              <div class="mp-index-tag lib">
                <span>John Aldag</span>
                <span>Cloverdale — Langley City</span>
              </div> 
            </div>

            <div class="mp-index">
              <a class="mp-hover" href="#">
                <div class="image-crop">
                  <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/AngusCharlie_NDP.jpg"/>
                </div>
              </a>
              <div class="mp-index-tag ndp">
                <span>Charlie Angus</span>
                <span>Timmins — James Bay</span>
              </div> 
            </div>

            <div class="mp-index">
              <a class="mp-hover" href="#">
                <div class="image-crop">
                  <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/MayElizabeth_GP.jpg"/>
                </div>
              </a>
              <div class="mp-index-tag green">
                <span>Elizabeth May</span>
                <span>Saanich — Gulf Islands</span>
              </div> 
            </div>

          </div>


          </section>
        </div>
       </main>
    </div>    













<!-- 
<div class="row">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <div class="body">

      <main class="main">
        <div class="main-body">
          <section>
          <div class="row break">            
          </div>
          <div class="row">
            <form class="form-horizontal">
              <div class="form-group">
                <div class="col-xs-6 col-md-6">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Enter search term">
                </div>
                <div class="col-xs-2 col-md-6">
                  <button type="submit" class="btn btn-default">SEARCH</button>
                </div>              
              </div>

            </form>
          </div>

          <div class="row break">

          </section>
        </div>
       </main>
    </div>    
    </div>
  <div class="col-sm-2"></div>
</div>
 -->