
<div class="row">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <div class="body">

      <main class="main">
        <div class="main-body">
          <section>

          <div class="row break">

          <div id="mp-container">
            <div class="mp-index">
              <div class="image-crop">
                <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/AboultaifZiad_CPC.jpg"/>
              </div>
              <div class="mp-index-tag">hiiiii</div>
            </div>

            <div class="mp-index">
              <div class="image-crop">
                <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/BarsalouDuvalXavier_BQ.jpg"/>
              </div>
            </div>

            <div class="mp-index">
              <div class="image-crop">
                <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/AldagJohn_Lib.jpg"/>
              </div>
            </div>

            <div class="mp-index">
              <div class="image-crop">
                <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/AngusCharlie_NDP.jpg"/>
              </div>
            </div>

            <div class="mp-index">
              <div class="image-crop">
                <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/MayElizabeth_GP.jpg"/>
              </div>
            </div>
          </div>


          </div>
          </section>
        </div>
       </main>
    </div>    
    </div>
  <div class="col-sm-2"></div>
</div>
