


<div class="body">

  <main class="main">
    <div class="main-body">
      <section>
      <div class="row">
        <div class="col-md-3">
          <div class="image-crop">
            <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/CaseySean_Lib.jpg"/>
          </div>
        </div>
        <div class="col-md-9">
          <p class="mp-lead">SEAN CASEY is the LIBERAL MP for the riding of CHARLOTTETOWN</p>
        </div>

      </div>

      </section>
    </div>
   </main>

</div>