
    <div class="body">

      <main class="main">
        <div class="main-body">
          <section>
            <div class="row-container">
              <div class="row-item">
                <div class="image-crop">
                  <img src = "http://www.parl.gc.ca/Parliamentarians/Images/OfficialMPPhotos/42/CaseySean_Lib.jpg"/>
                </div>
              </div>
              <div class="row-item">
                <p class="mp-lead">
                <span class="underline">SEAN CASEY</span> is the 
                <span class="underline">LIBERAL</span> MP for the riding of 
                <span class="underline">CHARLOTTETOWN</span>
                </p>
              </div>
            </div>

            <div class="row-container">
              <div class="row-item">
                <div class="address">
                  <h2>Constituency Office</h2>
                  <span>75 Fitzroy Road (Main Office)</span>
                  <span>Suite 201</span>
                  <span>Charlottetown, Prince Edward Island</span>
                  <span>C1A 1R6</span>
                </div>
              </div>
              <div class="row-item">
              <a class="twitter-timeline" href="https://twitter.com/SeanCaseyLPC" data-widget-id="730472412710580224" data-chrome="noheader">Tweets by @SeanCaseyLPC</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
            </div>
          </section>
        </div>
       </main>
    </div>    




<div class="contact-foot">
  <div>
    <a href="tel:1-902-566-7770">
    <span class="icon-phone"></span>
    <span class="mobile-hide">1-902-566-7770</span>
    </a>
  </div>
  <div>
    <a href="mailto:sean.casey@parl.gc.ca">
      <span class="icon-mail"></span>
      <span class="mobile-hide">sean.casey@parl.gc.ca</span>
    </a>
  </div>      
</div>

