<header class="navbar-mp" id="navbar-mp">
  <div class="skew">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <span class="light">MY</span><span class="bold">MP</span>
      </div>
    </div>
  </div>
</header>