button {
  border-radius: 0px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  width: 250px;
  background-color: white;
  border-color: #333;
  color: #666;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

button:hover {
  background-color: #333;
  color: white;
}

button:focus {
  outline: 0;
}

#map {
  position: absolute;
  height: 300px;
  top: 0;
  bottom: 0;
  width: 100%;
}

#menu {
  position: absolute;
  background: #fff;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

.mp-hover + .mp-index-tag span {
  display: block;
}

.mp-hover:hover + .mp-index-tag {
  max-height: 100px;
}

.mp-hover:hover + .mp-index-tag span {
  visibility: visible;
  display: block;
}

form {
  width: 100%;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

form input, form button {
  font-size: 18px;
  padding: 5px 10px;
}

form input:focus, form button:focus {
  outline: 0;
}

form input {
  flex-grow: 1;
  border: none;
  border-bottom: 3px solid #333;
}

form button {
  flex-grow: 0;
  cursor: pointer;
  background-color: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
}

.filter {
  flex-grow: 3;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border: 3px solid white;
  /*  width:300px;
*/
  text-transform: uppercase;
}

.filter.all {
  flex-grow: 1;
  /*width:120px;*/
  color: #333;
}
