html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 45px;
  text-align: center;
}

h2 {
  font-weight: bold;
  margin-top: 0px;
}
