.filter.lib {
  background-color: #ed2e38;
}

.filter.con {
  background-color: #002395;
}

.filter.ndp {
  background-color: #FF5800;
}

.filter.green {
  background-color: #427730;
}

.filter.bloc {
  background-color: #0088CE;
}

.image-crop.lib {
  border-bottom: 10px solid #ed2e38;
}

.image-crop.con {
  border-bottom: 10px solid #002395;
}

.image-crop.ndp {
  border-bottom: 10px solid #FF5800;
}

.image-crop.green {
  border-bottom: 10px solid #427730;
}

.image-crop.bloc {
  border-bottom: 10px solid #0088CE;
}

.mp-lead {
  line-height: 140%;
  padding-top: 20px;
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -1.5px;
}

.underline.lib {
  border-bottom: 3px solid #ed2e38;
}

.underline.con {
  border-bottom: 3px solid #002395;
}

.underline.ndp {
  border-bottom: 3px solid #FF5800;
}

.underline.bloc {
  border-bottom: 3px solid #0088CE;
}

.underline.green {
  border-bottom: 3px solid #427730;
}

.contact-foot {
  text-transform: lowercase;
  text-align: center;
  width: 100%;
  position: fixed;
  background-color: #333;
  bottom: 0px;
  color: white;
  padding: 10px 0px;
  font-size: 25px;
  font-weight: bold;
}

.contact-foot .col-md-6:first-child {
  border-right: 1px solid #666;
}

.contact-foot a {
  transition: opacity .3s ease-in-out;
  color: white;
}

.contact-foot a:hover {
  color: white;
  opacity: .7;
  text-decoration: none;
}

.address span {
  display: block;
}

#mp-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#mp-container .mp-index {
  position: relative;
  top: -20px;
}

#mp-container .image-crop {
  border-bottom: 0;
}

.mp-index-tag {
  position: absolute;
  bottom: 0px;
  width: 142px;
  padding: 5px;
  background-color: grey;
  color: white;
  font-size: 12px;
  max-height: 0;
  overflow: hidden;
  cursor: pointer;
  transition: max-height .2s ease-in-out;
}

.mp-index-tag span:first-child {
  font-size: 16px;
  font-weight: bold;
}

.mp-index-tag span {
  transition: visibility .2s ease-in-out;
  visibility: hidden;
}

.mp-index-tag.lib {
  background-color: rgba(237, 46, 56, 0.8);
}

.mp-index-tag.con {
  background-color: rgba(0, 35, 149, 0.8);
}

.mp-index-tag.bloc {
  background-color: rgba(0, 136, 206, 0.8);
}

.mp-index-tag.green {
  background-color: rgba(66, 119, 48, 0.8);
}

.mp-index-tag.ndp {
  background-color: rgba(255, 88, 0, 0.8);
}

.contact-foot {
  display: flex;
  flex-direction: row;
  justify-contents: center;
}

.contact-foot div {
  width: 50%;
}

.contact-foot div:first-child {
  border-right: 1px solid #666;
}

.row-container.mp-head {
  align-items: center;
}

.row-container.mp-head .row-item:last-child {
  width: 75%;
}

.score {
  text-align: center;
  color: #333;
  font-weight: bold;
  border-bottom: 5px solid #dbdbdb;
}

.score span {
  display: block;
}

.score .score-num {
  font-size: 60px;
}

.score .score-num.one {
  color: #EA222D;
}

.score .score-num.two {
  color: #DB2D2C;
}

.score .score-num.three {
  color: #CA382B;
}

.score .score-num.four {
  color: #B9462A;
}

.score .score-num.five {
  color: #A75429;
}

.score .score-num.six {
  color: #995F29;
}

.score .score-num.seven {
  color: #837029;
}

.score .score-num.eight {
  color: #737E29;
}

.score .score-num.nine {
  color: #648A2A;
}

.score .score-num.ten {
  color: #53992B;
}
